streamlit
pandas
xlsxwriter
gspread
oauth2client
streamlit-authenticator
openpyxl
google-generativeai
pdfplumber
pymupdf
opencv-python-headless
pyzbar
selenium
webdriver-manager
numpy
google-genai
pypdf
